@charset "utf-8";
@font-face {
    font-family: "NanumSquareRound";
    font-style: normal;
    font-weight: 200;
    src: url(../NanumSquareRoundL.woff) format("woff");
    src: url(../NanumSquareRoundL.woff2) format("woff2");
}

@font-face {
    font-family: "NanumSquareRound";
    font-style: normal;
    font-weight: 400;
    src: url(../NanumSquareRoundR.woff) format("woff");
    src: url(../NanumSquareRoundR.woff2) format("woff2");
}

@font-face {
    font-family: "NanumSquareRound";
    font-style: normal;
    font-weight: 600;
    src: url(../NanumSquareRoundB.woff) format("woff");
    src: url(../NanumSquareRoundB.woff2) format("woff2");
}

@font-face {
    font-family: "NanumSquareRound";
    font-style: normal;
    font-weight: 800;
    src: url(../NanumSquareRoundEB.woff) format("woff");
    src: url(../NanumSquareRoundEB.woff2) format("woff2");
}

:root {
    --yellow: #FFD438;
    --yellowHover: #ffbf00;
    --bgGray: #F5F5F5;
    --leftShadow: -0.4rem 0.4rem 1rem 0 rgba(0,0,0,10%)
}

html {
    font-size: 62.5%;
    font-family: 'NanumSquareRound', sans-serif !important;
    scroll-behavior: smooth;
}
* {
    font-family: 'NanumSquareRound', sans-serif !important;
    letter-spacing: -0.02em;
}
svg {
    width: 100%;
    height: 100%;
}
.display-m {
    display: none;
}
.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.inner-col {
    position: relative;
    width: 133rem;
    max-width: 90%;
    height: 100%;
    margin: 0 auto;
}
.content {
    flex: 1;
}
form li {
    margin-top: 1.6rem;
}
.btn-point {
    padding: 9px 13px; 
    font-size: 1.6rem;
    font-weight: 800;
    background: var(--yellow);
    border-radius: 0.5rem;
}
.btn-point.red {
    background: #FF6262;
}
button,a {transition: all 0.2s;}

/* react datepicker */
.react-datepicker-wrapper {
    width: 100%;
}
.react-datepicker__input-container input {
    width: 100%;
    height: 3.4rem;
    padding: 0.8rem 1.2rem;
    font-size: 1.4rem;
    border: 1px solid #D9D9D9;
    border-radius: 0.2em;
}
.react-datepicker__tab-loop {
    position: relative;
    z-index: 10;
}
.react-datepicker-popper {
    width: 100%;
}
.react-datepicker-popper .react-datepicker__triangle {
    width: 1rem;
    height: 1rem;
    left: 1rem!important;
}
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle {
    color: #aeaeae!important;
}
.react-datepicker{
    width: 20.2rem!important;
    font-size: 1.4rem;
}
.react-datepicker__month-container {
    width: 20rem;
}
.react-datepicker__day-name, 
.react-datepicker__day, 
.react-datepicker__time-name {
    width: 2.3rem!important;
    line-height: 2.25rem!important;
    font-size: 1.1rem!important;
}

h2.react-datepicker__current-month {
    padding: 0.5rem 0 1.3rem 1.2rem!important;
    font-size: 1.3rem;
    font-weight: 800;
    text-align: left;
}
.react-datepicker__navigation--previous {
    left: auto!important;
    right: 2.5rem;
}
.react-datepicker__navigation-icon::before, .react-datepicker__year-read-view--down-arrow, .react-datepicker__month-read-view--down-arrow, .react-datepicker__month-year-read-view--down-arrow {
    width: 0.7rem!important;
    height: 0.7rem!important;
    top: 1rem!important;
    border-width: 1px 1px 0 0!important;
    border-color: #000!important;
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 10px;
    }
    .display-pc {
        display: none;
    }
    .display-m {
        display: block;
    }
}
@media screen and (max-width: 768px) {
    html {
        font-size: 1.9vw;
    }
    .display-pc {
        display: none;
    }
    .display-m {
        display: block;
    }
}
@media screen and (max-width: 320px) {
    html {
        font-size: 5px;
    }
}